<div class="row d-flex justify-content-center ">
    <div class=" mx-3 my-2  card text-center p-1" style="  width: 15rem;">
        <h1 class="text-danger">Confirmed</h1>
        <hr>
        <div class="card-body">
            <p class="quantity">{{this.totalConfirmed}} <i class="fas fa-user-friends"></i></p>
        </div>
    </div>
    <div class="mx-3 my-2  card text-center p-1" style="  width: 15rem;">
        <h1 class="text-warning">Active</h1>
        <hr>
        <div class="card-body">
            <p class="quantity">{{this.totalActive}}<i class="fas fa-user-friends"></i></p>
        </div>
    </div>
    <div class=" mx-3  my-2 card text-center p-1" style="  width: 15rem;">
        <h1 class="text-danger">Deaths</h1>
        <hr>
        <div class="card-body">
            <p class="quantity">{{this.totalDeaths}}<i class="fas fa-user-friends"></i></p>
        </div>
    </div>
    <div class=" mx-3 my-2  card text-center p-1" style="  width: 15rem;">
        <h1 class="text-success">Recovered</h1>
        <hr>
        <div class="card-body">
            <p class="quantity">{{this.totalRecovered}}<i class="fas fa-user-friends"></i></p>
        </div>
    </div>
</div>